@import url(./template.css);

:root {
    --body-font:Arial, Helvetica, sans-serif;
    --display-font:'Courier New', Courier, monospace;
    --accent-color:#1ba4a2;
    /* Declare variables you can use later :D */
}

body{
    background-image:url(./bg.png);
    background-size:100%;
    background-attachment:fixed;
    background-color:var(--accent-color);
    font-family:var(--body-font);
}

#container{
    background-color:rgba(0, 0, 0, 0.8);
    box-shadow:0 0 10px 0 black;
}

header{
    --accent-color:#0f8382;
    --second-color:#01393a;
    height:100px;
    background-image:linear-gradient(#00000000 0%, black 130%), linear-gradient(45deg, var(--accent-color) 15.38%, var(--second-color) 15.38%, var(--second-color) 30.77%, var(--accent-color) 30.77%, var(--accent-color) 34.62%, var(--second-color) 34.62%, var(--second-color) 50%, var(--accent-color) 50%, var(--accent-color) 65.38%, var(--second-color) 65.38%, var(--second-color) 80.77%, var(--accent-color) 80.77%, var(--accent-color) 84.62%, var(--second-color) 84.62%, var(--second-color) 100%);
    background-size: 100px 100px;
    position: relative;
    overflow:hidden;
}
header img{display:none;}

#nav{
    background-color:lightgray;
}

nav a:hover{
    background-color:var(--accent-color)!important;
}

#nav img{
    border: 3px solid lightgrey;
}

.main-content{
    color:white;
    text-shadow: 0 0 10px var(--accent-color);
}

#blog-title{color: var(--accent-color);}
#blog-date{color:white;}

footer{
    background-color:var(--accent-color);
}

@media only screen and (min-width: 551px) {
    nav a:nth-of-type(2n+1){
        background-color: rgb(189, 189, 189);
    }
}

.card > a{
    background-color:rgb(0, 0, 0);
}

.card a:hover {
    background-color:var(--accent-color);
}