@import url(./template.css);

:root {
    --body-font:Arial, Helvetica, sans-serif;
    --display-font:'Courier New', Courier, monospace;
    --accent-color:#dca10a;
    /* Declare variables you can use later :D */
}

body{
    background-image:url(./bg.png);
    background-size:cover;
    background-attachment:fixed;
    background-color:var(--accent-color);
    font-family:var(--body-font);
}

#container{
    background-color:white;
    box-shadow:0 0 10px 0 black;
}

#nav{
    background-color:lightgray;
}

#nav img{
    border: 3px solid lightgrey;
}

nav a:hover{
    background-color:var(--accent-color)!important;
}

footer{
    background-color:var(--accent-color);
}

@media only screen and (min-width: 551px) {
    nav a:nth-of-type(2n+1){
        background-color: rgb(189, 189, 189);
    }
}